Sumo/source/WCF/SimpleWCFClient/Service References/ServiceReference1/DbTaskManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DbTaskManager" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1050/TestService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1050/TestService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1050/TestService?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDbTaskManager_GetTasks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTasks" />
  </wsdl:message>
  <wsdl:message name="IDbTaskManager_GetTasks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTasksResponse" />
  </wsdl:message>
  <wsdl:message name="IDbTaskManager_AddTasks_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTasks" />
  </wsdl:message>
  <wsdl:message name="IDbTaskManager_AddTasks_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTasksResponse" />
  </wsdl:message>
  <wsdl:message name="IDbTaskManager_AddTasksWithHightPriority_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTasksWithHightPriority" />
  </wsdl:message>
  <wsdl:message name="IDbTaskManager_AddTasksWithHightPriority_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTasksWithHightPriorityResponse" />
  </wsdl:message>
  <wsdl:message name="IDbTaskManager_TestOperation_InputMessage">
    <wsdl:part name="parameters" element="tns:TestOperation" />
  </wsdl:message>
  <wsdl:message name="IDbTaskManager_TestOperation_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestOperationResponse" />
  </wsdl:message>
  <wsdl:portType name="IDbTaskManager">
    <wsdl:operation name="GetTasks">
      <wsdl:input wsaw:Action="http://tempuri.org/IDbTaskManager/GetTasks" message="tns:IDbTaskManager_GetTasks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDbTaskManager/GetTasksResponse" message="tns:IDbTaskManager_GetTasks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTasks">
      <wsdl:input wsaw:Action="http://tempuri.org/IDbTaskManager/AddTasks" message="tns:IDbTaskManager_AddTasks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDbTaskManager/AddTasksResponse" message="tns:IDbTaskManager_AddTasks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTasksWithHightPriority">
      <wsdl:input wsaw:Action="http://tempuri.org/IDbTaskManager/AddTasksWithHightPriority" message="tns:IDbTaskManager_AddTasksWithHightPriority_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDbTaskManager/AddTasksWithHightPriorityResponse" message="tns:IDbTaskManager_AddTasksWithHightPriority_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TestOperation">
      <wsdl:input wsaw:Action="http://tempuri.org/IDbTaskManager/TestOperation" message="tns:IDbTaskManager_TestOperation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDbTaskManager/TestOperationResponse" message="tns:IDbTaskManager_TestOperation_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDbTaskManager" type="tns:IDbTaskManager">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTasks">
      <soap:operation soapAction="http://tempuri.org/IDbTaskManager/GetTasks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTasks">
      <soap:operation soapAction="http://tempuri.org/IDbTaskManager/AddTasks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTasksWithHightPriority">
      <soap:operation soapAction="http://tempuri.org/IDbTaskManager/AddTasksWithHightPriority" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestOperation">
      <soap:operation soapAction="http://tempuri.org/IDbTaskManager/TestOperation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DbTaskManager">
    <wsdl:port name="BasicHttpBinding_IDbTaskManager" binding="tns:BasicHttpBinding_IDbTaskManager">
      <soap:address location="http://localhost:1050/TestService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>