Sumo/source/WCF/BoockServie.Test/Service References/BoockServiceStub/TestService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Sumo.Api" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Sumo.Api" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1060/TestService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:1060/TestService?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="SumoSession">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Count" type="xs:int" />
      <xs:element minOccurs="0" name="SessionId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SumoSession" nillable="true" type="tns:SumoSession" />
  <xs:complexType name="ArrayOfBook">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Book" nillable="true" type="tns:Book" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBook" nillable="true" type="tns:ArrayOfBook" />
  <xs:complexType name="Book">
    <xs:sequence>
      <xs:element minOccurs="0" name="Md5Hash" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Path" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SecondaryFields" nillable="true" type="q1:ArrayOfKeyValueOfstringArrayOfstringty7Ep6D1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Book" nillable="true" type="tns:Book" />
  <xs:complexType name="CategoriesMultiList">
    <xs:sequence>
      <xs:element minOccurs="0" name="Childs" nillable="true" type="tns:ArrayOfCategoriesMultiList" />
      <xs:element minOccurs="0" name="Node" type="tns:CategoryNode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CategoriesMultiList" nillable="true" type="tns:CategoriesMultiList" />
  <xs:complexType name="ArrayOfCategoriesMultiList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CategoriesMultiList" nillable="true" type="tns:CategoriesMultiList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategoriesMultiList" nillable="true" type="tns:ArrayOfCategoriesMultiList" />
  <xs:complexType name="CategoryNode">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Count" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CategoryNode" nillable="true" type="tns:CategoryNode" />
</xs:schema>