Sumo/source/WCF/SimpleWCFClient/Service References/BookManagerService/MetaManagerStub.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MetaManagerStub" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1060/TestService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1060/TestService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1060/TestService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Sumo.API" />
      <xsd:import schemaLocation="http://localhost:1060/TestService?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDbMetaManager_CreateQuery_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateQuery" />
  </wsdl:message>
  <wsdl:message name="IDbMetaManager_CreateQuery_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateQueryResponse" />
  </wsdl:message>
  <wsdl:message name="IDbMetaManager_GetDocuments_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDocuments" />
  </wsdl:message>
  <wsdl:message name="IDbMetaManager_GetDocuments_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentsResponse" />
  </wsdl:message>
  <wsdl:message name="IDbMetaManager_GetStatistic_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStatistic" />
  </wsdl:message>
  <wsdl:message name="IDbMetaManager_GetStatistic_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStatisticResponse" />
  </wsdl:message>
  <wsdl:message name="IDbMetaManager_CloseSession_InputMessage">
    <wsdl:part name="parameters" element="tns:CloseSession" />
  </wsdl:message>
  <wsdl:message name="IDbMetaManager_CloseSession_OutputMessage">
    <wsdl:part name="parameters" element="tns:CloseSessionResponse" />
  </wsdl:message>
  <wsdl:portType name="IDbMetaManager">
    <wsdl:operation name="CreateQuery">
      <wsdl:input wsaw:Action="http://tempuri.org/IDbMetaManager/CreateQuery" message="tns:IDbMetaManager_CreateQuery_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDbMetaManager/CreateQueryResponse" message="tns:IDbMetaManager_CreateQuery_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDocuments">
      <wsdl:input wsaw:Action="http://tempuri.org/IDbMetaManager/GetDocuments" message="tns:IDbMetaManager_GetDocuments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDbMetaManager/GetDocumentsResponse" message="tns:IDbMetaManager_GetDocuments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStatistic">
      <wsdl:input wsaw:Action="http://tempuri.org/IDbMetaManager/GetStatistic" message="tns:IDbMetaManager_GetStatistic_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDbMetaManager/GetStatisticResponse" message="tns:IDbMetaManager_GetStatistic_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CloseSession">
      <wsdl:input wsaw:Action="http://tempuri.org/IDbMetaManager/CloseSession" message="tns:IDbMetaManager_CloseSession_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDbMetaManager/CloseSessionResponse" message="tns:IDbMetaManager_CloseSession_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDbMetaManager" type="tns:IDbMetaManager">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateQuery">
      <soap:operation soapAction="http://tempuri.org/IDbMetaManager/CreateQuery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocuments">
      <soap:operation soapAction="http://tempuri.org/IDbMetaManager/GetDocuments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatistic">
      <soap:operation soapAction="http://tempuri.org/IDbMetaManager/GetStatistic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CloseSession">
      <soap:operation soapAction="http://tempuri.org/IDbMetaManager/CloseSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MetaManagerStub">
    <wsdl:port name="BasicHttpBinding_IDbMetaManager" binding="tns:BasicHttpBinding_IDbMetaManager">
      <soap:address location="http://localhost:1060/TestService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>